<div class="card" style="width: 600px;">

    <div class="card-body">
        <h5 class="card-title">{{brandName}}</h5>
        <p><strong>Description:</strong> {{description}}</p>
        <p><strong>Edit User:</strong> {{editUser}}</p>
        <p><strong>Created At:</strong> {{createdAtDate}}</p>
        <p><strong>Updated At:</strong> {{updatedAtDate}}</p>
    </div>
</div>