<div class="card" style="width: 600px;">
    <img src="/uploads/{{product.image}}" class="card-img-top" alt="{{product.name}}" style="width:200px;">
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p><strong>Brand:</strong> {{brandName}}</p>
        <p><strong>Price:</strong> ₹ {{product.price}}</p>
        <p><strong>Category:</strong> {{categoryName}}</p>
        <p><strong>Size:</strong> {{product.sizes_available}}</p>
        <p><strong>Color:</strong> {{product.colors_available}}</p>
        <p><strong>Edituser:</strong> {{product.editUser}}</p>
        <p><strong>Description:</strong> {{product.description}}</p>
        <p><strong>Status:</strong> {{product.status}}</p>
        <p><strong>Created At:</strong> {{createdAtDate}}</p>
        <p><strong>Updated At:</strong> {{updatedAtDate}}</p>
    </div>
</div>