<div class="card" style="width: 600px;">
    <div id="productImageCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {{#each product.images}}
            <div class="carousel-item {{#if @first}}active{{/if}}">
                <img src="/uploads/{{this}}" class="d-block w-100" alt="{{../product.name}}" style="height:400px;">
            </div>
            {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#productImageCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productImageCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p><strong>Brand:</strong> {{brandName}}</p>
        <p><strong>Price:</strong> ₹ {{product.price}}</p>
        <p><strong>Category:</strong> {{categoryName}}</p>
        <p><strong>Size:</strong> {{product.sizes_available}}</p>
        <p><strong>Color:</strong> {{product.colors_available}}</p>
        <p><strong>Edituser:</strong> {{product.editUser}}</p>
        <p><strong>Description:</strong> {{product.description}}</p>
        <p><strong>Status:</strong> {{product.status}}</p>
        <p><strong>Created At:</strong> {{createdAtDate}}</p>
        <p><strong>Updated At:</strong> {{updatedAtDate}}</p>
    </div>
</div>
