<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
    <h1>Welcome, {{adminName}}</h1>
    <p class="text-muted">Admin Dashboard</p>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <a href="/admin/user" class="text-decoration-none">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{obj.userCount}}</h4>
                        <h5 class="card-title text-dark">Users</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/admin/product" class="text-decoration-none">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{obj.prodCount}}</h4>
                        <h5 class="card-title text-dark">Products</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/admin/category" class="text-decoration-none">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{obj.cateCount}}</h4>
                        <h5 class="card-title text-dark">Categories</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-3">
            <a href="/admin/brand" class="text-decoration-none">
                <div class="card text-center shadow">
                    <div class="card-body">
                        <h4 class="card-title text-dark">{{obj.brandCount}}</h4>
                        <h5 class="card-title text-dark">Brands</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
