<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 mt-5">
    <h1>Welcome, {{adminName}}</h1>
    <p class="text-muted">Admin Dashboard</p>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">{{obj.userCount}}</h4>
                    <h5 class="card-title"><a class="nav-link text-dark" href="/admin/user">Users</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">{{obj.prodCount}}</h4>
                    <h5 class="card-title"><a class="nav-link text-dark" href="/admin/product">Products</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">{{obj.cateCount}}</h4>
                    <h5 class="card-title"><a class="nav-link text-dark" href="/admin/category">Categories</a></h5>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                    <h4 class="card-title">{{obj.brandCount}}</h4>
                    <h5 class="card-title"><a class="nav-link text-dark" href="/admin/brand">Brands</a></h5>
                </div>
            </div>
        </div>
    </div>
</main>
</div>
</div>


</section>


</body>

</html>