{{#if isAdmin}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/adminstyle.css">
    <link rel="stylesheet" href="/stylesheets/cartstyle.css">
    <title>Admin</title>
</head>

<body>
    {{#if isadminlogin}}
    <section>
        <div class="container-fluid">
            <div class="row">

                <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                    <div class="position-sticky pt-3">
                        <h5 class="text-center">Admin Panel</h5>
                        <ul class="nav flex-column ul-procatcls ">
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/dashboard">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/admin/category">Categories</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/product">Products</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/user">Users</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/brand">Brands</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/orders">Orders</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/logout">Logout</a>
                            </li>

                        </ul>
                    </div>
                </nav>
                {{/if}}


                {{else}}
                <!doctype html>
                <html lang="en">

                <head>

                    <meta charset="utf-8">
                    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


                    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
                    <link rel="stylesheet"
                        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
                    <link rel="stylesheet" href="/stylesheets/homestyle.css">

                    <title>SoleWave</title>
                </head>

                <body>
                    <header>

                        <nav class="navbar navbar-expand-lg navbar-light nav-class">
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    <a class="navbar-brand title-cls" href="/">SoleWave</a>
                                </div>
                                <div class="col-md-2">

                                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="navbar-toggler-icon"></span>
                                    </button>

                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav mr-auto">
                                            <li class="nav-item dropdown">
                                                <a class="nav-link dropdown-toggle" href="#" id="categoryDropdown"
                                                    role="button" data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false">
                                                    Categories
                                                </a>
                                                <div class="dropdown-menu" aria-labelledby="categoryDropdown">
                                                    {{#each categories}}
                                                    <a class="dropdown-item {{#if (eq _id ../selectedCategory)}}active{{/if}}"
                                                        href="/?category={{_id}}">
                                                        {{name}}
                                                    </a>
                                                    {{/each}}
                                                </div>

                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-md-4">

                                    <form class="form-inline" method="get" action="/">
                                        <input class="form-control search-class" type="search" name="q"
                                            placeholder="Search" value="{{searchQuery}}" aria-label="Search">
                                        <button type="submit" class="btn btn-outline-success hand-cls">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-1">
                                    {{#if isLogin}}
                                    <div class="dropdown">
                                        <button class="btn btn-outline-success dropdown-toggle login-cls" type="button"
                                            id="userMenu" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="false">
                                            {{username}}
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="userMenu">
                                            <a class="dropdown-item" href="/profile">Profile</a>
                                            {{!-- <a class="dropdown-item" href="/favorites">Favorites</a> --}}
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/logout">Logout</a>
                                        </div>
                                    </div>
                                    {{else}}
                                    <a href="/login">
                                        <button class="btn btn-outline-success my-2 my-sm-0 login-cls"
                                            type="button">Login</button>
                                    </a>
                                    {{/if}}
                                </div>

                                <div class="col-md-1">
                                    <a href="/cart" style="text-decoration: none; color: inherit;"><span
                                            class="hand-cls"><i class="fas fa-shopping-cart cart-icon"></i> <span
                                                class="text-cart">Cart</span></span></a>
                                </div>
                            </div>
                        </nav>
                    </header>
                    {{/if}}


                    {{{body}}}
                    {{#if isAdmin}}
                    <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
                    <script src="/javascripts/popper.min.js"></script>
                    <script src="/javascripts/bootstrap.min.js"></script>
                </body>

                </html>
                {{else}}
                <script src="/javascripts/jquery-3.2.1.slim.min.js"></script>
                <script src="/javascripts/popper.min.js"></script>
                <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>
{{/if}}

<style>
    .form-inline {
        display: flex;
        align-items: center;
        gap: 5px;
        /* Add spacing between input and button */
    }

    .search-class {
        flex: 1;
        /* Adjust width if needed */
    }

    .hand-cls {
        white-space: nowrap;
        /* Ensure button content doesn't wrap */
    }
</style>