<link rel="stylesheet" href="/stylesheets/productstyle.css">
<scetion>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mb-6">
                <div class="card" style="width: 18rem mr-10;">
                    <img class="card-img-top" src="/uploads/{{product.image}}" alt="Card image cap">

                </div>
            </div>
            <div class="col-md-6 mb-6">
                <form action="/cart/add" method="post">
                    <div class="card pro-2div" style="width: 18rem mr-10;">
                        <p class="pro-description ">{{product.name}}</p>
                        <div>
                            <span class="pro-disc">-52%</span>
                            <span class="pro-price">₹ {{product.price}}</span>
                        </div>
                    
                        <div style="margin-left: 10px;margin-top: 20px;margin-bottom: 20px;">
                            <label for="color" class="form-label"style="font-weight: bold;">Size</label>
                            <select class="form-control" id="size" name="size" style="width: 60px;font-weight :bold">
                                {{!-- <option value="1" selected>1</option> --}}
                                {{#each product.sizes_available}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        
                        <div style="margin-left: 10px;margin-top: 20px;margin-bottom: 20px;">
                            <label for="color" class="form-label" style="font-weight: bold;">Color</label>
                            <select class="form-control" id="color" name="color" style="width: 90px;font-weight :bold">
                                {{!-- <option value="1" selected>1</option> --}}
                                {{#each product.colors_available}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div style="margin-left: 10px;margin-top: 20px;margin-bottom: 20px;">
                            <label for="quantity" class="form-label"style="font-weight: bold;">Quantity</label>
                            <select class="form-control" id="quantity" name="quantity" style="width: 60px; font-weight :bold">
                                <option value="1" selected>1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>

                            </select>
                        </div>
                        <input type="hidden" name="productId" value="{{product._id}}" />
                        <button type="submit" class="btn  pro-cartButton">Add to cart</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
    </section>